@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  transition: 0.15s ease;
}

:root {
  /* primary */
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);

  /* neutral */
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--cream);
  /* margin: 0; */
}

h2 {
  margin: 0;
}

.attribution {
  /* position: absolute; */
  font-size: 15px;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  color: var(--dark-brown);
  /* min-width: 325px; */
}

a {
  color: var(--soft-red);
  text-decoration: none;
}

a:hover {
  color: var(--cyan);
}

.chart {
  margin-right: 8px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  text-align: center;
}

.card-main {
  width: fit-content;
  height: fit-content;
  /* min-width: 390px; */
  box-sizing: border-box;
}

.card-top {
  box-sizing: border-box;
  color: var(--cream);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  /* height: 60px; */
  height: auto;
  border-radius: 20px;
  background-color: var(--soft-red);
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  min-width: 285px;
}

.card-bottom {
  box-sizing: border-box;
  background-color: var(--very-pale-orange);
  width: 350px;
  /* width: 80vw; */
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  text-align: left;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 285px;
}

.logo {
  position: absolute;
  float: right;
  width: fit-content;
  height: fit-content;
  right: 0;
  margin-right: 20px;
  align-self: center;
}

.balance {
  align-self: center;
  /* margin-left: 14px; */
}

.amount-balance {
  margin-top: 5px;
}

.spending {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: var(--dark-brown);
}

hr {
  border: 1px solid var(--cream);
  margin-top: 20px;
  margin-bottom: 20px;
}

.section2 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.txt-total {
  color: var(--medium-brown);
}

.percent-change {
  font-weight: 600;
}

.right {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

.total {
  font-size: 30px;
  margin-top: 5px;
}

.txt-balance,
.spending,
.txt-total,
.attribution {
  user-select: none;
}

::selection {
  background: var(--cyan);
}
